#!/bin/bash
# Windows: set the line endings to LF or the script won't run.
set -Eeuo pipefail

celery=false
if [ "$1" == "--celery" ]; then
  celery=true
  set -- "${@:2}"
fi

mkdir -p /srv/tmp /srv/tmp/redis
if [ "$celery" == false ]; then
  mkdir -p /srv/tmp/postgres
fi

if [ "$celery" == true ]; then
  pip3.12 install watchfiles
fi

pip3.12 install pyramid_debugtoolbar
SETUPTOOLS_SCM_PRETEND_VERSION=$(python3.12 -c 'from importlib.metadata import version; print(version("parsys_utilities"));')
export SETUPTOOLS_SCM_PRETEND_VERSION
pip3.12 install -e /opt/parsys_utilities
SETUPTOOLS_SCM_PRETEND_VERSION=$(python3.12 -c 'from importlib.metadata import version; print(version("asset_tracker"));')
export SETUPTOOLS_SCM_PRETEND_VERSION
pip3.12 install -e /srv

if [ "$celery" == false ]; then
  alembic -c /srv/config/development.ini upgrade head
fi

exec "$@"
