version: "3.9"

services:
  web:
    image: tracker.parsys.com:1337/parsys/asset_tracker:develop
    entrypoint: ["/srv/docker-entrypoint.dev.sh"]
    command: ["pserve", "/srv/config/development.ini", "--reload"]
    volumes:
      - .:/srv
      - ../parsys_utilities:/opt/parsys_utilities
    healthcheck:
      test: ["CMD", "parsys_healthcheck", "--dev"]
      start_period: 30s
    environment:
      - OAUTHLIB_INSECURE_TRANSPORT=True
    ports:
      - "6545:80"

  celery:
    image: tracker.parsys.com:1337/parsys/asset_tracker:develop
    entrypoint: ["/srv/docker-entrypoint.dev.sh", "--celery"]
    command: ["celery", "-A", "asset_tracker", "worker", "--ini", "/srv/config/development.ini", "--loglevel=info"]
    volumes:
      - .:/srv
      - ../parsys_utilities:/opt/parsys_utilities
    healthcheck:
      test: ["CMD", "celery", "-A", "asset_tracker", "inspect", "ping", "--ini", "/srv/config/development.ini"]
      start_period: 30s

  celery_beat:
    image: tracker.parsys.com:1337/parsys/asset_tracker:develop
    entrypoint: ["/srv/docker-entrypoint.dev.sh", "--celery"]
    command: ["celery", "-A", "asset_tracker", "beat", "--ini", "/srv/config/development.ini", "--loglevel=info"]
    volumes:
      - .:/srv
      - ../parsys_utilities:/opt/parsys_utilities
    healthcheck:
      test: ["CMD", "celery", "-A", "asset_tracker", "inspect", "ping", "--ini", "/srv/config/development.ini"]
      start_period: 30s

  postgres:
    volumes:
      - ./tmp/postgres:/var/lib/postgresql/data
# Windows: local bind won't work with postgres, we need to use a docker volume.
#      - postgres:/var/lib/postgresql/data

  redis:
    volumes:
      - ./tmp/redis:/data

# Windows.
#volumes:
#  postgres:
