#!/bin/bash
# Windows: set the line endings to LF or the script won't run.
set -Eeuo pipefail

celery=false
if [ "$1" == "--celery" ]; then
  celery=true
  set -- "${@:2}"
fi

if [ "$celery" == true ]; then
  mkdir -p /srv/tmp /srv/tmp/redis
else
  mkdir -p /srv/tmp /srv/tmp/postgres /srv/tmp/redis
  pip3 install pyramid_debugtoolbar
fi

pip3 install --no-deps -e /opt/parsys_utilities
pip3 install --no-deps -e /srv

host_ip=$(getent hosts host.docker.internal | awk '{print $1}')
echo -e "${host_ip}\tdev.localhost" >>/etc/hosts

if [ "$celery" == false ]; then
  alembic -c /srv/config/development.ini upgrade head
fi

exec "$@"
