#!/bin/bash
# Windows: set the line endings to LF or the script won't run.
set -Eeuo pipefail

celery=false
if [ "$1" == "--celery" ]; then
  celery=true
  set -- "${@:2}"
fi

if [ "$celery" == true ]; then
  mkdir -p /srv/tmp /srv/tmp/redis
else
  mkdir -p /srv/tmp /srv/tmp/postgres /srv/tmp/redis
fi

pip3 install pyramid_debugtoolbar
pip3 install --user --use-deprecated=legacy-resolver -e /opt/parsys_utilities
SETUPTOOLS_SCM_PRETEND_VERSION=$(python3 -c 'from asset_tracker.constants import ASSET_TRACKER_VERSION; print(ASSET_TRACKER_VERSION);')
export SETUPTOOLS_SCM_PRETEND_VERSION
pip3 install --user --use-deprecated=legacy-resolver -e /srv

if [ "$celery" == false ]; then
  alembic -c /srv/config/development.ini upgrade head
fi

exec "$@"
