include *.cfg *.ini *.rst *.txt
recursive-include asset_tracker *.css *.gif .htaccess *.ico *.jpg *.js *.json *.html *.mak *.mako *.png *.pt *.txt *.xml
recursive-include asset_tracker/static *
recursive-include asset_tracker/locale *
recursive-include asset_tracker/templates *
