recursive-include asset_tracker/locale *.mo
recursive-include asset_tracker/static *
recursive-include asset_tracker/templates *
include asset_tracker/config.json

recursive-exclude asset_tracker/locale babel.ini update.sh *.po *.pot
prune asset_tracker/js
prune asset_tracker/sass
prune asset_tracker/scripts
prune asset_tracker/tests
