{% extends 'base.html' %}

{% set landing_page = True %}

{% block title -%}
    {{ gettext('Error') }}
{%- endblock %}

{% block page %}
    <div class="login-container container">
        <a href="{{ 'home'|route_path }}">
            <div class="top-left-logo"></div>
        </a>
        <a href="{{ 'home'|route_path }}">
            <div class="main-logo">{% if config == 'marlink' %}{{ cloud_name|upper }}{% endif %}</div>
        </a>

        <div class="alert alert-danger text-center" role="alert">
            <b>{{ request.user.login }}</b> {{ gettext('is not authorized to access this page.') }}
            <br>
            <a href="{{ 'users-logout'|route_path }}" class="alert-link">{{ gettext('Logout') }}</a> {{ gettext('or go to') }}
            <a href="{{ request.user.default_app['uri'] }}" class="alert-link">{{ request.user.default_app['name'] }}</a>.
        </div>
    </div>
{% endblock %}
