{% extends 'base.html' %}

{% block title %}{{ gettext('Error') }}{% endblock %}

{% block page %}
<div class="login-container container">
    <a href="{{ 'home'|route_path }}"><div class="main-logo"></div></a>
    <div class="alert alert-danger text-center" role="alert">
        {{ request.user.login }} {{ gettext('is not authorized to access this page.') }}
        <br>
        <a href="{{ 'users-logout'|route_path }}">{{ gettext('Logout') }}</a> {{ gettext('or go to') }}
        {% if request.user.is_admin %}
            <a href="{{ rta_server_url }}">RTA</a>
        {% else %}
            <a href="{{ cloud_server_url }}">Parsys Cloud</a>
        {% endif %}
    </div>
</div>
{% endblock %}