{% extends 'base.html' %}

{% block title %}{{ gettext('Error') }}{% endblock %}

{% block page %}
<div class="login-container container">
    <a href="{{ 'home'|route_path }}"><div class="main-logo"></div></a>
    <div class="alert alert-danger text-center" role="alert">
        {{ authenticated_user.login }} {{ gettext('is not authorized to access this page.') }}
        <br>
        <a href="{{ 'users-logout'|route_path }}">{{ gettext('Logout') }}</a> {{ gettext('or go to') }}
        {# default_app = ['app_name', 'app_url'] #}
        <a href="{{ authenticated_user.default_app[1] }}">{{ authenticated_user.default_app[0] }}</a>
    </div>
</div>
{% endblock %}