{% extends 'base.html' %}

{% block title -%}
    {{ gettext('Page not found') }}
{%- endblock %}

{% block page %}
    <div class="img-background-fixed"></div>

    <div class="login-container container">
        <a href="{{ 'home'|route_path }}"><div class="top-left-logo"></div></a>
        <a href="{{ 'home'|route_path }}"><div class="main-logo"></div></a>

        <div class="alert alert-danger text-center" role="alert">
            {{ gettext('Page not found') }}.
        </div>
    </div>
{% endblock %}
