{% extends 'base.html' %}
{% from 'macros.html' import date, input with context %}

{% if asset %}
    {% set title = gettext(asset.asset_type|capitalize) + ' ' + asset.asset_id %}
{% else %}
    {% set title = gettext('Create asset') %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block page %}
{% include 'menu.html' %}
<div class="root-container">
    <div class="container">
    {% if error %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            {{ gettext(error) }}
        </div>
    {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel__title">{{ title }}</h3>
            </div>

            <div class="panel-body">
                <form role="form" action="{% if asset %}{{ 'assets-update'|route_path(asset_id=asset.id) }}{% else %}{{ 'assets-create'|route_path }}{% endif %}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <div class="row">
                        {{ input(gettext('Asset ID'), 'asset_id', required=True) }}
                        <div class="col-sm-6 form-group">
                            <label for="asset_type">{{ gettext('Type') }} *</label>
                            <select class="form-control" id="asset_type" name="asset_type">
                                <option value="cart"{% if asset and asset.asset_type == 'cart' %} selected{% endif %}>{{ gettext('Cart') }}</option>
                                <option value="station"{% if not asset or (asset and asset.asset_type == 'station') %} selected{% endif %}>{{ gettext('Station') }}</option>
                                <option value="telecardia"{% if asset and asset.asset_type == 'telecardia' %} selected{% endif %}>{{ gettext('Telecardia') }}</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="tenant_id">{{ gettext('Tenant') }} *</label>
                            <select class="form-control" id="tenant_id" name="tenant_id">
                                {% for tenant in tenants|sort(attribute='name') %}
                                <option value="{{ tenant.id }}"{% if asset and asset.tenant_id == tenant.id %} selected{% endif %}>{{ tenant.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        {% if 'marlink' in client_specific %}
                        {{ input(gettext('Customer ID (Subscription ID)'), 'customer_id') }}
                        {% endif %}

                        {{ input(gettext('Customer name'), 'customer_name') }}
                        {{ input(gettext('Site'), 'site') }}
                        {{ input(gettext('Current location'), 'current_location') }}

                        {% if not 'marlink' in client_specific %}
                        <div class="col-sm-6 form-group">
                            <label for="calibration_frequency">{{ gettext('Calibration frequency') }}{% if not asset %} *{% endif %}</label>
                            <select class="form-control" id="calibration_frequency" name="calibration_frequency">
                                {% for frequency in calibration_frequencies.values() %}
                                <option value="{{ frequency }}"{% if asset and asset.calibration_frequency == frequency %} selected{% endif %}>{{ frequency ~ ' ' ~ gettext('years') }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                    </div>

                    {% if asset %}
                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ gettext('Softwares versions') }}</label>
                                <p>
                                {% for software, version in softwares|dictsort %} {# sorted by key #}
                                    {{ software|capitalize }}: {{ version }} {% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ gettext('Status') }}</label>
                                <p>{% if asset.status %}{{ gettext(asset.status.label) }}{% else %}&nbsp;{% endif %}</p>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        {{ date(gettext('Production'), 'production') }}
                        {{ date(gettext('Activation'), 'activation_first') }}
                        {{ date(gettext('Last calibration'), 'calibration_last') }}
                        {{ date(gettext('Next calibration'), 'calibration_next') }}
                        {{ date(gettext('Warranty end'), 'warranty_end') }}
                    </div>
                    {% endif %}

                    <hr>

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label for="event">{{ gettext('Add Event') }}{% if not asset %} *{% endif %}</label>
                            <select class="form-control" id="event" name="event">
                                {% if asset %}<option></option>{% endif %}
                                {% for status in statuses|sort(attribute='position') %}
                                <option value="{{ status.status_id }}">{{ gettext(status.label) }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ input(gettext('Date DD/MM/YYYY'), 'event_date', 'date') }}
                    </div>

                    <hr>

                    <div class="row equipments__list">
                        <div class="col-sm-12 equipments__header">
                            <label class="equipment__label">{{ gettext('Equipments') }}</label>
                            <button type="button" class="equipment__add btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                        {% for equipment in (asset or {}).equipments %}
                        <div class="col-sm-4 equipment__block">
                            <div class="well well-sm">
                                <div class="form-group">
                                    <select class="form-control" name="equipment-family">
                                        <option></option>
                                        {% for family in equipments_families|sort(attribute='model_translated') %}
                                        <option value="{{ family.family_id }}"{% if equipment.family_id == family.id %} selected{% endif %}>{{ family.model_translated }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="equipment-serial_number" placeholder="S/N"
                                            {% if equipment.serial_number %} value="{{ equipment.serial_number }}"{% endif %}>
                                    <span class="input-group-btn equipment__remove">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-sm-4 equipment__block">
                            <div class="well well-sm">
                                <div class="form-group">
                                    <select class="form-control" name="equipment-family">
                                        <option></option>
                                        {% for family in equipments_families|sort(attribute='model_translated') %}
                                        <option value="{{ family.family_id }}">{{ family.model_translated }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="equipment-serial_number" placeholder="S/N">
                                    <span class="input-group-btn equipment__remove">
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="notes">{{ gettext('Notes') }}</label>
                            <textarea class="form-control" rows="3" id="notes" name="notes">
                                {%- if asset and asset.notes -%}{{ asset.notes }}{%- endif -%}
                            </textarea>
                        </div>
                        {% if asset %}
                        <div class="col-sm-12 form-group">
                            <label for="notes">{{ gettext('History') }}</label>
                            {% for event in asset.history('asc') %}

                                <p class="history_event">
                                {% if event.status.status_id == 'software_update' %}
                                    {{ gettext('%(date)s: %(software)s updated to version %(version)s.',
                                        software=event.data_json.get('software_name')|capitalize,
                                        version=event.data_json.get('software_version'),
                                        date=event.date|format_date(locale)) }}
                                {% else %}
                                    {{ gettext('%(date)s: %(creator)s set status to <b>%(status)s</b>.',
                                        creator=event.creator_alias,
                                        status=gettext(event.status.label),
                                        date=event.date|format_date(locale)) }}
                                {% endif %}
                                <span class="event__delete glyphicon glyphicon-remove-circle" data-eventid="{{ event.event_id }}"></span>
                                </p>

                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% if not asset or 'g:admin' in principals or (asset.tenant_id, 'assets-update') in principals %}
                    <div class="btn-group pull-right">
                        <a href="{{ 'assets-list'|route_path }}" class="btn btn-default">{{ gettext('Cancel') }}</a>
                        <button type="submit" class="btn btn-default">{{ gettext('Submit') }}</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
