{% extends 'base.html' %}

{% block title %}{{ gettext('Assets') }}{% endblock %}

{% block page %}
{% include 'menu.html' %}

<div class="root-container">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel__title">{{ gettext('Assets') }}</h3>
                {% if 'g:admin' in principals or 'assets-create' in principals_without_tenants %}
                <a href="{{ 'assets-create'|route_path }}" type="button" class="btn btn-default pull-right">{{ gettext('New') }}</a>
                {% endif %}
            </div>

            <table id="assets-list" class="dataTables table table-striped table-hover nowrap" data-ajax-url="{{ 'api-assets'|route_path(_query={'datatables': 'true'}) }}"
                    data-custom-filter="status!=decommissioned" data-custom-filter-label="{{ gettext('Show decommissioned assets') }}" width="100%">
                <thead>
                    <tr>
                        <th data-data="asset_id">{{ gettext('Asset ID') }}</th>
                        <th data-data="asset_type">{{ gettext('Type') }}</th>
                        <th data-data="customer_name">{{ gettext('Customer') }}</th>
                        <th data-data="site">{{ gettext('Site') }}</th>
                        <th data-data="calibration_next">{{ gettext('Next calibration') }}</th>
                        <th data-data="status">{{ gettext('Status') }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}