<!DOCTYPE html>
<html lang="{{ locale }}">
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ cloud_name }} | {% block title %}{% endblock %}</title>

        <meta name="description" content="Asset Manager">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" href="/static/images/{{ branding }}/favicon.ico">

        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.20/r-2.2.3/datatables.min.css" integrity="sha256-1KeE1+cQXKs2hoVTzDLLmXmL6AxTogTxminCm49kK5g=" crossorigin="anonymous">

        {# Select2 #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha256-nbyata2PJRjImhByQzik2ot6gSHSU4Cqdz5bNYL2zcU=" crossorigin="anonymous" />

        <link rel="stylesheet" href="/static/styles/{{ branding }}.min.css">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/static/scripts/vendor/jquery-3.4.1.min.js"><\/script>');</script>
        <script src="/static/scripts/vendor/modernizr-3.8.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
        <script>$.fn.modal || document.write('<script src="/static/scripts/vendor/bootstrap-3.4.1.min.js"><\/script>')</script>
        <script src="https://cdn.datatables.net/v/bs/dt-1.10.20/r-2.2.3/datatables.min.js" integrity="sha256-zyQ+a3wFtHvpdLLkNgvwLFnBCt7qIIiUtuUNndoircg=" crossorigin="anonymous"></script>
        <script>$.fn.dataTable || document.write('<script src="/static/scripts/vendor/datatables-1.10.20.min.js"><\/script>')</script>

        {# Select2 #}
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js" integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks=" crossorigin="anonymous"></script>
        <script>$.fn.select2 || document.write('<script src="/static/scripts/vendor/select2-4.0.13.min.js"><\/script>')</script>

        <!--suppress JSUnusedLocalSymbols -->
        <script>const userLocale = '{{ locale }}';</script>
        <script src="/static/scripts/asset_tracker.min.js"></script>

        <div class="img-background-fixed"></div>

        {% block page %}{% endblock %}

        {% set footer = 'branding/footer-{}.html'.format(branding) %}
        {% include footer ignore missing %}
    </body>
</html>
