<!DOCTYPE html>
<html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ cloud_name }} | {% block title %}{% endblock %}</title>

        <meta name="description" content="Asset Manager">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/static/images/{{ branding }}/favicon.ico">

        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.0/datatables.min.css">
        <link rel="stylesheet" href="/static/styles/{{ branding }}.min.css">
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/static/scripts/vendor/jquery-3.2.1.min.js"><\/script>');</script>
        <script src="/static/scripts/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script>$.fn.modal || document.write('<script src="/static/scripts/vendor/bootstrap-3.3.7.min.js"><\/script>')</script>
        <script src="https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.0/datatables.min.js"></script>
        <script>$.fn.dataTable || document.write('<script src="/static/scripts/vendor/datatables-1.10.16.min.js"><\/script>')</script>

        <script src="/static/scripts/asset_tracker.min.js"></script>
        <script>const userLocale = '{{ locale }}';</script>

        <div class="img-background-fixed"></div>

        {% block page %}{% endblock %}

        {% set footer = 'branding/footer-' + branding + '.html' %}
        {% include footer ignore missing %}
    </body>
</html>