{% macro date(label, field) -%}
    <div class="col-sm-4">
        <div class="form-group">
            <label>{{ label }}</label>
            <p>
                {% if asset[field] %}
                    {{ asset[field]|format_date(locale) }}
                {% endif %}
            </p>
        </div>
    </div>
{%- endmacro %}

{% macro input(label, field, type='text', required=False, placeholder=None, readonly=False) -%}
    <div class="col-sm-6">
        <div class="form-group">
            <label for="{{ field }}">{{ label }}{% if required %} *{% endif %}</label>
            <input type="{{ type }}" class="form-control" id="{{ field }}" name="{{ field }}"
                {% if placeholder %} placeholder="{{ placeholder }}"{% endif %}
                {% if asset %}
                    {% if asset[field] %} value="{{ asset[field] }}"{% endif %}
                    {% if readonly %} disabled{% endif %}
                {% elif site %}
                    {% if site[field] %} value="{{ site[field] }}"{% endif %}
                {% endif %}
                {% if required %} required{% endif %}>
        </div>
    </div>
{%- endmacro %}

{% macro equipment_box(equipment=None, reference=False, index=None) -%}
    <div id="{% if reference %}equipment__reference{% endif %}" class="col-sm-6 col-md-4 equipment__block{% if reference %} hidden{% endif %}">
        <div class="well well-sm">

            {# Select equipment. #}
            <div class="form-group">
                {% if reference %}
                    {% set equipment_family_id = 'equipment-family' %}
                {% else %}
                    {% set equipment_family_id = 'equipment-family#' ~ index  %}
                {% endif %}
                <select class="form-control equipment__select" name="{{ equipment_family_id }}" id="{{ equipment_family_id }}" title="equipment-family">
                    <option></option>
                    {% for family in equipments_families|sort(attribute='model_translated') %}
                        <option value="{{ family.family_id }}"{% if equipment and equipment.family_id == family.id %} selected{% endif %}>
                            {{ family.model_translated }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            {# Serial number & remove button. #}
            <div class="form-group">
                <div class="input-group">
                    {% if reference %}
                        {% set serial_number_id = 'equipment-serial_number' %}
                    {% else %}
                        {% set serial_number_id = 'equipment-serial_number#' ~ index %}
                    {% endif %}

                    <label for="{{ serial_number_id }}" class="sr-only">Serial number</label>
                    <input type="text" class="form-control equipment__serial_number_id" name="{{ serial_number_id }}" id="{{ serial_number_id }}" placeholder="S/N"
                        {% if equipment and equipment.serial_number %} value="{{ equipment.serial_number }}"{% endif %}>
                    <span class="input-group-btn equipment__remove">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>

            {# Expiration date fields. #}
            <label class="equipment__expiration_date_label {% if reference or not equipment.family.consumable_families %}hidden{% endif %}">{{ gettext('Expiration dates') }}</label>
            <div class="form-group expiration_date_fields">
                {% if not reference %}
                    {% for consumable_family in equipment.family.consumable_families %}
                        {% set consumable_family_model = consumables_models[equipment.family.family_id][consumable_family.family_id] %}
                        {% set expiration_date_id = 'equipment-expiration_date-' ~ consumable_family.family_id ~ '#' ~ index %}
                        {% if consumable_family.family_id in expiration_dates[equipment.id] %}
                            {% set expiration_date = expiration_dates[equipment.id][consumable_family.family_id] %}
                        {% endif %}
                        <label for="{{ expiration_date_id }}">{{ consumable_family_model }}</label>
                        <input type="date" class="form-control" name="{{ expiration_date_id }}" id="{{ expiration_date_id }}" placeholder="{{ gettext('DD/MM/YYYY') }}"
                           {% if expiration_date %}value="{{ expiration_date }}"{% endif %}>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{%- endmacro %}
