{% macro input(object, label, field, type='text', required=False) -%}
    <div class="col-sm-6">
        <div class="form-group">
            <label for="{{ field }}">{{ label }}{% if required %} *{% endif %}</label>
            <input type="{{ type }}" class="form-control" id="{{ field }}" name="{{ field }}"
                   {% if object and object[field] %} value="{{ object[field] }}"{% endif %}
                   {% if required %} required{% endif %}>
        </div>
    </div>
{%- endmacro %}