<header class="navbar navbar-default navbar-static-top" style="margin-bottom: 20px;" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#asset_tracker-navbar-collapse">
                <span class="sr-only">{{ gettext('Toggle navigation') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-pjax class="navbar-brand" href="{{ 'rta'|route_url(path='') }}">
                <div class="menu-name">{{ cloud_name }}</div>
                <div class="menu-logo"></div>
            </a>
        </div>

        <nav class="collapse navbar-collapse" id="asset_tracker-navbar-collapse" role="navigation">
            <ul id="menu-main" class="nav navbar-nav">
                <li><a href="{{ 'assets-list'|route_path }}">{{ gettext('Assets') }}</a></li>
            </ul>
            <ul id="menu-settings" class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user_alias }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ 'users-settings'|route_path }}">{{ gettext('Settings') }}</a></li>
                        <li><a href="{{ 'users-logout'|route_path }}">{{ gettext('Logout') }}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
