<html>
    <head>
        <link rel="stylesheet" href="/static/styles/{{ branding }}.min.css">
        <style>
            html, body, p {
                margin: 0;
            }
            .site-title {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
            .site-info {
                padding: 20px 15px;
            }
        </style>
    </head>
    <body>
        <div class="site-title">
            <h3 class="panel-title">{{ name }}</h3>
        </div>

    {% if site_type or contact or phone or email %}
        <div class="site-info">
            {% if site_type %}<p><span class="glyphicon glyphicon-tag"></span> {{ site_type }}</p>{% endif %}
            {% if contact %}<p><span class="glyphicon glyphicon-user"></span> {{ contact }}</p>{% endif %}
            {% if phone %}<p><span class="glyphicon glyphicon-earphone"></span> {{ phone }}</p>{% endif %}
            {% if email %}<p><span class="glyphicon glyphicon-send"></span> {{ email }}</p>{% endif %}
        </div>
    {% endif %}
    </body>
</html>

