<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <title>Site</title>
        <link rel="stylesheet" href="/static/styles/{{ branding }}.min.css">
    </head>
    <style>
        html {
            height: auto;
        }
    </style>
    <body class="site-info-body">
        {% if name or site_type or contact or phone or email %}
            <div class="site-info">
                {% if name %}<p class="site-text" title="{{ name }}"> <span class="glyphicon glyphicon-map-marker site-icon"></span> {{ name }}</p>{% endif %}
                {% if site_type %}<p class="site-text" title="{{ gettext(site_type) }}"><span class="glyphicon glyphicon-info-sign site-icon"></span> {{ gettext(site_type) }}</p>{% endif %}
                {% if contact %}<p class="site-text" title="{{ contact }}"><span class="glyphicon glyphicon-user site-icon"></span> {{ contact }}</p>{% endif %}
                {% if phone %}<p class="site-text" title="{{ phone }}"><span class="glyphicon glyphicon-earphone site-icon"></span> {{ phone }}</p>{% endif %}
                {% if email %}<p class="site-text" title="{{ email }}"><span class="glyphicon glyphicon-send site-icon"></span> {{ email }}</p>{% endif %}
            </div>
        {% endif %}

        <script>
            'use strict';

            function postSize() {
                /**
                 * Send body height to the Cloud to adjust iframe height.
                 */
                const data = {'type': 'parsys_site_info', 'height': document.body.scrollHeight};
                window.parent.postMessage(data, '*');
            }

            // Continue sending height on window resize as long lines can be split and change the iframe height.
            postSize();
            window.onresize = postSize;
        </script>
    </body>
</html>

