{% extends 'base.html' %}
{% from 'macros.html' import input with context %}

{% if update %}
    {% set title = gettext('Modify oauth client') %}
{% else %}
    {% set title = gettext('Create oauth client') %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block page %}
{% include 'menu.html' %}
<div class="container">
{% if error %}
    <div class="alert alert-danger alert-dismissible">
        {{ gettext(error) }}
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    </div>
{% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel__title">{{ title }}</h3>
        </div>

        <div class="panel-body">
            <form role="form" action="{% if update %}{{ 'admin-oauth_clients-update'|route_path(oauth_client_id=object.id) }}{% else %}{{ 'admin-oauth_clients-create'|route_path }}{% endif %}" method="post">
                <div class="row">
                    {% if update %}
                    <div class="col-sm-6 form-group">
                        <label>{{ gettext('Client ID') }}</label>
                        <p class="form-control-static">{{ object.client_id }}</p>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>{{ gettext('Secret') }}</label>
                        <p class="form-control-static">{{ object.secret }}</p>
                    </div>
                    {% endif %}
                    {{ input('Name *', 'oauth_client', 'name') }}
                    {{ input('Redirect URI *', 'oauth_client', 'redirect_uri') }}
                    {{ input('Home page *', 'oauth_client', 'homepage') }}
                    {{ input('Logo', 'oauth_client', 'logo') }}
                </div>
                <div class="form-group">
                    <label>{{ gettext('Rights') }}</label>
                    <div class="row">
                        {% for right in rights %}
                        <div class="col-sm-4 rights__input">
                            <div class="input-group">
                                {% if right.id %}
                                <div class="input-group-addon rights__id">{{ right.id }}</div>
                                {% endif %}
                                <input type="text" class="form-control" value="{{ right.name }}"
                                       name="oauth_client-{% if right.id %}right-{{ right.id }}{% else %}new_right{% endif %}">
                                <div class="input-group-addon rights__remove">x</div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-sm-4 rights__input">
                            <div class="input-group">
                                <input type="text" class="form-control" name="oauth_client-new_right">
                                <div class="input-group-addon rights__remove">x</div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-sm-4 rights__add">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="oauth_client-is_active"{% if not object or object.is_active %} checked{% endif %}> {{ gettext('Active') }}
                    </label>
                </div>
                <div class="btn-group pull-right">
                    <a href="{{ 'admin-oauth_clients-list'|route_path }}" class="btn btn-default">{{ gettext('Cancel') }}</a>
                    <button type="submit" class="btn btn-default">{{ gettext('Submit') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
