<p>
    {{ gettext('Dear user') }},
</p>

<p>
    {{ gettext('The following assets must be calibrated before %(calibration_date)s', calibration_date=calibration_date|format_date(locale, 'long')) }}:
</p>

<ul>
    {% for asset in assets %}
        <li>
            <a href="{{ 'assets-update'|route_url(asset_id=asset.asset_id, _app_url=app_url) }}">
                {{ asset.asset_id }} / {{ gettext(asset.status.label(config)) }} / {{ asset.site.name }} / {{ asset.customer_name }}
            </a>
        </li>
    {% endfor %}
</ul>

<p>
    {{ gettext('Sincerely') }},<br>
    {{ gettext(cloud_name) }}
</p>
