<p>
    {{ gettext('Dear user') }},
</p>

<p>
    {{ gettext('The following assets use consumables expiring in %(delay_days)s days on %(expiration_date)s:', delay_days=delay_days, expiration_date=expiration_date|format_date(locale, 'long')) }}
</p>

<ul>
    {% for asset in assets %}
        <li>
            <a href="{{ 'assets-update'|route_url(asset_id=asset['asset'].asset_id) }}">{{ asset['asset'].asset_id }}</a>
            ( {% for consumable in asset['consumables'] %}{{ gettext(consumable.family.model) }}{% if not loop.last %}, {% endif %}{% endfor %} )
        </li>
    {% endfor %}
</ul>

<p>
    {{ gettext('Please know that there is no guarantee that diagnoses will be reliable if the consumable expiration dates have passed.') }}
</p>

<p>
    {{ gettext('Sincerely') }},<br>
    {{ gettext(cloud_name) }}
</p>
