@import 'bootstrap/variables';

@mixin center-below($breakpoint) {
  @media (max-width: $breakpoint) {
    text-align: center;
  }
}

@mixin padding-left-over($breakpoint) {
  @media (min-width: $breakpoint) {
    padding-left: 10px;
  }
}

@mixin padding-right-over($breakpoint) {
  @media (min-width: $breakpoint) {
    padding-right: 10px;
  }
}

@mixin hide-paginate-pages($container) {
  #{$container} li.paginate_button.previous {
    display: inline;
  }

  #{$container} li.paginate_button.next {
    display: inline;
  }

  #{$container} li.paginate_button {
    display: none;
  }
}

table.dataTable tr,
table.dataTable td {
  height: 100%;
}

table.dataTable td a {
  // 16px = td vertical padding.
  height: calc(100% + 16px);

  text-decoration: none;
  color: black;

  // Even if text doesn't cover the whole td, the whole space is clickable.
  display: block;
  margin: -8px;
  padding: 8px;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// Prevent showing horizontal scroll bar on xs screen even if table isn't big enough.
.table-responsive {
  overflow-x: auto;
}

td {
  overflow: hidden;
  word-break: break-all;
}

@media (max-width: $screen-xs-max) {
  .dataTables_length {
    display: none;
  }
}

// Add padding to datatables tools in case we are in a panel.
.panel .dataTables_wrapper .row:first-child {
  padding-top: 10px;
}

// Remove the margin top added by bootstrap to checkboxes below sm.
.custom_filter,
.custom_filter .checkbox {
  margin-top: 0;
}

@media (max-width: $screen-sm-max) {
  .custom_filter .checkbox {
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.root-container div.custom_filter {
  @include padding-left-over($screen-md-min);
}

.root-container div.dataTables_filter {
  @media(max-width: $screen-sm-max) {
    text-align: left;
    padding-left: 15px;
  }
}

.root-container div.dataTables_info,
.root-container div.dataTables_length {
  @include padding-left-over($screen-md-min);
}

.root-container div.dataTables_filter,
.root-container div.dataTables_paginate {
  @include padding-right-over($screen-md-min);
}

.root-container div.dataTables_paginate {
  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.dataTables_info {
  padding-bottom: 10px;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 31px);
  border: none;
  transform: translate(-50%, -50%);
  height: 100%;
  opacity: 0.90;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  margin-left: 0;
}

// Hide pagination for mobiles because it breaks.
@media (max-width: $screen-xs-max) {
  @include hide-paginate-pages('.root-container');
}

div.dataTables_wrapper div.dataTables_info {
  white-space: normal;

  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: $screen-sm-min) {
  .panel .custom_filter,
  .panel .dataTables_info,
  .panel .dataTables_length {
    padding-left: 10px;
  }

  .panel .dataTables_filter,
  .panel .dataTables_paginate {
    padding-right: 10px;
  }
}

@media (max-width: $screen-xs-max) {
  .panel .custom_filter {
    text-align: center;
  }

  .panel .dataTables_info {
    padding-bottom: 8px;
  }
}

.panel .custom_filter,
.panel .dataTables_info,
.panel .dataTables_filter,
.panel .dataTables_length,
.panel .dataTables_paginate {
  overflow-y: hidden;
}
