@import 'bootstrap/variables';

@mixin center-below($breakpoint) {
  @media (max-width: $breakpoint) {
    text-align: center;
  }
}

@mixin padding-left-over($breakpoint) {
  @media (min-width: $breakpoint) {
    padding-left: 10px;
  }
}

@mixin padding-right-over($breakpoint) {
  @media (min-width: $breakpoint) {
    padding-right: 10px;
  }
}

@mixin hide-paginate-pages($container) {
  #{$container} li.paginate_button.previous {
    display: inline;
  }

  #{$container} li.paginate_button.next {
    display: inline;
  }

  #{$container} li.paginate_button {
    display: none;
  }
}

table.dataTable td a {
  text-decoration: none;
  color: black;

  // Even if text doesn't cover the whole td, the whole space is clickable.
  display: block;
  margin: -8px;
  padding: 8px;

  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

@media (max-width: $screen-xs-max) {
  .dataTables_length {
    display: none;
  }
}

// Add padding to datatables tools in case we are in a panel.
.panel .dataTables_wrapper .row:first-child {
  padding-top: 10px;
}

// Remove the margin top added by bootstrap to checkboxes below sm.
.custom_filter .checkbox {
  margin-top: 0;
}

@media (max-width: $screen-sm-max) {
  .custom_filter .checkbox {
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.filter_container {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
}

.custom_filter_container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.dataTables_filter_container {
  padding-left: 10px;
}

#c_filter {
  padding-right: 15px;
}

.root-container div.filter_container {
  flex-direction: row;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
}

.root-container div.custom_filter_container {
  flex-direction: row;
  padding-left: 15px;
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
  }
}

.root-container div.dataTables_filter_container {
  padding-right: 15px;
}

.root-container div.dataTables_info_container {
  @extend .col-md-12;
  @include center-below($screen-sm-max);
}

.root-container div.dataTables_length_container {
  @extend .col-md-4;
  @include center-below($screen-sm-max);
}

.root-container div.dataTables_paginate_container {
  @extend .col-md-8;
  @include center-below($screen-sm-max);
}

.root-container div.custom_filter {
  @include padding-left-over($screen-md-min);
}

.root-container div.dataTables_filter {
  @media(max-width: $screen-sm-max) {
    text-align: left;
    padding-left: 15px;
  }
}

.root-container div.dataTables_info,
.root-container div.dataTables_length {
  @include padding-left-over($screen-md-min);
}

.root-container div.dataTables_filter,
.root-container div.dataTables_paginate {
  @include padding-right-over($screen-md-min);
}

.root-container div.dataTables_paginate {
  @media (max-width: $screen-sm-max) {
    text-align: center;
  }
}

.dataTables_info {
  padding-bottom: 10px;
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 31px);
  border: none;
  transform: translate(-50%, -50%);
  height: 100%;
  opacity: 0.90;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  margin-left: 0;
}

// Hide pagination for mobiles because it breaks.
@media (max-width: $screen-xs-max) {
  @include hide-paginate-pages('.root-container');
}

div.dataTables_wrapper div.dataTables_info {
  white-space: normal;

  @media (max-width: $screen-xs-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
