$marlink-blue: #0066aa;
$marlink-blue-lighter: #35a9e1;
$link-grey: #dadada;

// General site branding
$brand-primary: $marlink-blue;
$panel-primary-text: white;

// Navbar styling
$navbar-default-bg: $marlink-blue;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: $link-grey;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $marlink-blue-lighter;

$navbar-default-toggle-hover-bg: $marlink-blue-lighter;
$navbar-default-toggle-icon-bar-bg: white;
$navbar-default-toggle-border-color: $marlink-blue;

$navbar-height: 50px;
$navbar-margin: 9px;

$footer-height: 40px;
$footer-height-sm: 249px;

@font-face {
  font-family: 'ibm-plex-sans-medium';
  src: url('/static/fonts/ibm-plex-sans-medium.ttf');
}

@import 'main';

/**********************************/
/************** Main **************/
/**********************************/

body {
  font-family: Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;

  &.landing_page {
    background-image: url('/static/images/marlink/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

.top-left-logo {
  background-image: url('/static/images/marlink/top-left-logo.svg');
  position: absolute;
  top: 60px;
  left: 60px;
  height: 65px;
  width: 287px;
  background-position: inherit;
  background-size: contain;
  background-repeat: no-repeat;
}

/**********************************/
/************** Login *************/
/**********************************/

.login-container {
  height: calc(100% - #{$footer-height});
  padding-top: 35vh;

  .alert {
    text-align: left;
  }

  .alert-danger {
    background-color: #c1032f;
    color: white;
    border: none;

    a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: #b1b3b5;
      }
    }
  }
}

.main-logo {
  color: white;
  font-family: 'ibm-plex-sans-medium';
  font-size: 52px;
}

footer {
  width: calc(100% + 30px);
  height: $footer-height;
  margin-left: -15px;
  padding: 0 20px;
  background-color: $marlink-blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > div {
    flex-grow: 2;
    color: white;
    font-size: 13px;
    margin: 0 10px;

    > a {
      color: white;
    }
  }
}

/**********************************/
/************** Menu **************/
/**********************************/

.menu-logo {
  background-image: url('/static/images/marlink/menu-logo.svg');
  height: 38px;
  width: 170px;
  margin-top: -9px;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-name {
  display: none;
}

/**********************************/
/************ Responsive **********/
/**********************************/

@media (width <= 1100px) {
  footer > div {
    font-size: 10px;
  }
}

@media (width <= 800px) {
  .top-left-logo {
    top: 20px;
    left: 20px;
  }

  footer > div {
    font-size: 7.5px;
  }
}

@media (width <= 500px) {
  .top-left-logo {
    top: 10px;
    left: 10px;
    width: 220px;
  }

  .login-container {
    height: calc(100% - #{$footer-height-sm});
    padding-top: 25vh;
  }

  .main-logo {
    font-size: 9vw;
  }

  footer {
    flex-direction: column;
    height: auto;

    > div {
      font-size: 15px !important;
      padding: 10px 0;

      &:last-of-type {
        display: none;
      }
    }
  }
}
