$black: #000;
$parsys-green: #a5e8cb;
$parsys-green-hover: darken($parsys-green, 6.5%);
$link-grey: #777;

// General site branding
$brand-primary: $parsys-green;
$panel-primary-text: $black;

// Navbar styling
$navbar-default-bg: $parsys-green;
$navbar-default-link-color: $black;
$navbar-default-link-hover-color: $link-grey;

$navbar-default-toggle-hover-bg: $parsys-green-hover;
$navbar-default-toggle-icon-bar-bg: $black;
$navbar-default-toggle-border-color: $parsys-green;

$link-color: $black;

@import 'main';

.main-logo {
    width: 100%;
    max-width: 470px;
    padding-top: percentage(617px / 1032px);
    background-image: url('/static/images/parsys_cloud/logo.png');
    margin-top: 10px;
    margin-bottom: 50px;
}

// Navbar dropdown.
#menu-settings .dropdown-menu {
    background-color: $parsys-green;
}

#menu-settings .dropdown-menu > li > a {
    &:hover, &:focus {
        color: $link-grey;

        @media (min-width: $grid-float-breakpoint) {
            background-color: $parsys-green-hover;
        }
    }
}