$parsys-green: #a5e8cb;
$parsys-green-hover: darken($parsys-green, 6.5%);
$link-grey: #777;

// General site branding
$brand-primary: $parsys-green;
$panel-primary-text: black;

// Navbar styling
$navbar-default-bg: $parsys-green;
$navbar-default-link-color: black;
$navbar-default-link-hover-color: $link-grey;

$navbar-default-toggle-hover-bg: $parsys-green-hover;
$navbar-default-toggle-icon-bar-bg: black;
$navbar-default-toggle-border-color: $parsys-green;

$btn-primary-color: black;
$link-color: black;

@use "sass:math";

@import 'main';

.main-logo {
  background-image: url('/static/images/parsys/logo.png');
  padding-top: percentage(math.div(168px, 611px));
  margin: 50px auto;
}

// Navbar dropdown.
#menu-settings .dropdown-menu {
  background-color: $parsys-green;
}

#menu-settings .dropdown-menu > li > a {
  &:hover, &:focus {
    color: $link-grey;

    @media (min-width: $grid-float-breakpoint) {
      background-color: $parsys-green-hover;
    }
  }
}
